:host {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;

    }
    .profile-card {
        text-align: center;
        padding: 0 20px 20px 20px;
    }
}
.imgdog{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.mat-icon {
    vertical-align: middle;
    margin-right: 20px;
}

